<UserScriptConfig>
	<Script basedir="gmap_extract" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="extract infor from g-maps" enabled="true" filename="gmap_extract.user.js" installTime="1369325302828" modified="1369325302828" name="gmap_extract" namespace="infos_extract" runAt="document-end" uuid="53581bf0-aff0-40ad-a7d2-5f8fa3ed027c" version="1" installurl="file:///C:/Documents%20and%20Settings/Admin/Application%20Data/Mozilla/Firefox/Profiles/3kvqa832.default/gm_scripts/gmap_extract/gmap_extract.user.js" updateurl="file:///C:/Documents%20and%20Settings/Admin/Application%20Data/Mozilla/Firefox/Profiles/3kvqa832.default/gm_scripts/gmap_extract/gmap_extract.user.js">
		<Grant>none</Grant>
		<Include>https://maps.google.com/*</Include>
		<Include>http://maps.google.com/*</Include>
	</Script>
</UserScriptConfig>